.container {
    width:90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 20%);
    grid-gap: 20px;
    grid-auto-rows: minmax(150px, auto);
    margin-left:5%
  }
  .one{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border:solid;
    border-width:5px;
  }
  .two{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    border:solid;
    border-width:5px;
  }
  .three{
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 2;
    grid-row-end: 3;
    border:solid;
    border-width:5px;
  }
  .four{
    grid-column-start: 2;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end: 3;
    border:solid;
    border-width:5px;
  }
  .five{
    grid-column-start: 3;
    grid-column-end:6;
    grid-row-start: 2;
    grid-row-end: 4;
    border:solid;
    border-width:5px;
  }
  .six{
    grid-column-start: 6;
    grid-column-end:7;
    grid-row-start: 2;
    grid-row-end: 3;
    border:solid;
    border-width:5px;
  }
  .seven{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end: 4;
    border:solid;
    border-width:5px;
  }
  .eight{
    grid-column-start: 6;
    grid-column-end:6;
    grid-row-start: 3;
    grid-row-end: 4;
    border:solid;
    border-width:5px;
  }
  .nine{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 4;
    grid-row-end: 5;
    border:solid;
    border-width:5px;
  }
  .ten{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 4;
    grid-row-end: 5;
    border:solid;
    border-width:5px;
  }
  .eleven{
    grid-column-start: 3;
    grid-column-end:7;
    grid-row-start: 4;
    grid-row-end: 5;
    border:solid;
    border-width:5px;
  }